apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "auth_url": "https://infra.mail.ru/identity/v3/",
      "project_id": "0123456789abcdefFEDCBA9876543210",
      "user_domain_name": "users",
      "username": "viletay",
      "password": "password"
    }