apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "auth_url": "https://infra.mail.ru/identity/v3/",
      "project_id": "18fb4335c0704725a91b5d8affff5c3b",
      "user_domain_name": "users",
      "username": "k.balashov@vk.team",
      "password": "password"
    }